<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<div>
  <p>
    <%= @user.following.count %>
    フォロー
  </p>
  <ul>
    <% @user.following.each do |u| %>
      <li><%= u.name %></li>
    <% end %>
  </ul>
</div>
<div>
  <p>
    <%= @user.followers.count %>
    フォロワー
  </p>
  <ul>
    <% @user.followers.each do |u| %>
      <li><%= u.name %></li>
    <% end %>
  </ul>
</div>
